:root {
    --ColorAzul : #183561;
    --ColorCeleste : #5FB9E0;
    --ColorBlanco : #FFFFFF;
    --ColorGris : #D6D6D6;
    --ColorAmarillo : #FED700;
    --FontFamily : 'Roboto Slab'
}
* {
    font-family: var(--FontFamily);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
