.login_main h1{
    font-size: 46px;
    color: var(--ColorAzul);
    text-align: center;
    text-decoration: underline;
    text-decoration-color: var(--ColorAmarillo);
    padding-top: 5%;
    margin-left: 25px;
}
.login_main{
    background-position: center center;
    background-image:url(/images/background-login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 7%;
}

.login_form{
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
    color: var(--ColorAzul);
}

.login_form input{
    padding: 3%;
    margin: 2% 24%;
    width: 52%;
    border: 2px solid var(--ColorAzul);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}

.login_form input::placeholder{
    color: var(--ColorAzul);
    text-align: center;
    font-weight: bold;
}

.login_form button{
    width: 48%;
    margin-left: 26%;
    padding: 1%;
    background-color: var(--ColorAzul);
    border-radius: 20px;
    color: var(--ColorBlanco);
    font-weight: bold;
    border-color: var(--ColorAzul);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.login_form button:hover{
    transform: scale(1.1);
    box-shadow: 13px 15px 37px black;
}

.contraseña_olvidada{
    color: #c8deff;
    margin: 2% 5%;
    width: 90%;
    text-shadow: 0 0 8px rgba(0,0,0,0.8);
    position: relative;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}    

.login_form2 button{
    width: 48%;
    margin-left: 26%;
    padding: 1%;
    background-color: var(--ColorCeleste);
    border-radius: 20px;
    color: var(--ColorBlanco);
    font-weight: bold;
    border-color: var(--ColorAzul);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.login_form2 button:hover{
    transform: scale(1.1);
    box-shadow: 13px 15px 37px black;
}
