<div class="index__body__main__section--promo">
    <picture>
    <source srcset="images/banner2-home.png" media="(min-width: 1230px)">
    <img src="/images/banner2-mobile.png" alt="imagen principal">
    </picture>
    <div class="index__body__main__section--promo--texto">
    <p>2x1</p>
    <p>En baño y corte de pelo</p>
  </div>
</div>