<!DOCTYPE html>
<html lang="en">

<%- include('./head') %>

<body class="body">
    <header class="header">

        <div class="header__img" >
            <a href="/"><img src="/images/logo-header.png" alt="imagen de la marca"></a>
        </div>

        <div class="header__div__register--login">
            <i class="fa-solid fa-user-plus"></i>
            <a class="header__div__register" href="/usuarios/registro">Regístrate</a>
            <a class="header__div__login" href="/usuarios/ingreso">Iniciar Sesion</a>
        </div>

        <div class="header__div__menu-hambuerguesa">
            <!-- <i class="fas fa-bars"></i> -->
            <nav class="menu">
                <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open"/>
                <label class="menu-open-button" for="menu-open">
                  <span class="hamburger hamburger-1"></span>
                  <span class="hamburger hamburger-2"></span>
                  <span class="hamburger hamburger-3"></span>
                </label>
                
                <a href="/productos/perros" class="menu-item"> <i class="fa-solid fa-dog"></i> </a>
                <a href="/productos/gatos" class="menu-item"> <i class="fa-solid fa-cat"></i> </a>
                <a href="/productos/pequenios" class="menu-item"> <i class="fa-solid fa-otter"></i> </a>
                <a href="/productos/gatos" class="menu-item"> <i class="fa-solid fa-square-plus"> </i> </a>
                <a href="/productos/perros" class="menu-item"> <i class="fa-solid fa-percent"></i> </i> </a>
                
                
              </nav>
              
              
              <!-- filters -->
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                  <defs>
                    <filter id="shadowed-goo">
                        
                        <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
                        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
                        <feGaussianBlur in="goo" stdDeviation="3" result="shadow" />
                        <feColorMatrix in="shadow" mode="matrix" values="0 0 0 0 0  0 0 0 0 0  0 0 0 0 0  0 0 0 1 -0.2" result="shadow" />
                        <feOffset in="shadow" dx="1" dy="1" result="shadow" />
                        <feComposite in2="shadow" in="goo" result="goo" />
                        <feComposite in2="goo" in="SourceGraphic" result="mix" />
                    </filter>
                    <filter id="goo">
                        <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
                        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
                        <feComposite in2="goo" in="SourceGraphic" result="mix" />
                    </filter>
                  </defs>
              </svg>
              </body>
              </html>
            </div>
            </section>
        </div>

        <form action="/productos/search" method="GET" class="header__form__barra-de-busqueda">
            <input type="text" placeholder="Busca tus productos favoritos"  name="keywords">
            <button class="header__form__button"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>

        <div class="header__div__carrito-de-compras">
            <div class="header__div__carrito-de-compras-icono">
                <a href="/carrito"><i class="fa-solid fa-cart-plus"></i></a>
                <div class="header__div__carrito-de-compras-numero">
                    <p>4</p>
                </div>
            </div>
            <div class="header__div__carrito-de-compras-texto">
              <a href="/carrito"><p>Tu compra</p></a>
            <!-- numero que va sobre el carrito -->
            </div>
            
        </div>

        <div class="nav">
           <ul class="header__div__lista">
                <li>
                    <a href="../productos/perros">Perros</a>

                    <ul>
                        <li><a href="">Alimento</a></li>
                        <li><a href="">Accesorios</a></li>
                        <li><a href="">Cuidado</a></li>
                        <li><a href="">Corte de pelo y baño</a></li>

                    </ul>
                </li>

                <li>
                    <a href="../productos/gatos">Gatos</a>
                     <ul>
                        <li><a href="">Alimento</a></li>
                        <li><a href="">Accesorios</a></li>
                        <li><a href="">Cuidado</a></li>
                        <li><a href="">Baño</a></li>
                    </ul>
                </li>

                <li>
                    <a href="../productos/pequenios">Animales pequeños</a>
                    <ul>
                        <li><a href="">Aves</a></li>
                        <li><a href="">Peses</a></li>
                        <li><a href="">Roedores</a></li>
                    </ul>

                </li>

                <li><a href="">Lo + vendido</a></li>

                <li><a href="">Ofertas</a></li>
                <li><a href="/productos/todos">Todos los Productos</a></li>
                <li><a href="/admin/dashboard">Dashboard</a></li>

            </ul>

        </div>
    
    </header>
</body>

</html>