<article class="producto__agregado">
    <img src="/images/<%= imagen %>" alt="">
    <div class="Productos-en-el-carrito__div__titulo__descripcion__precio">
      <h5 class=".Productos-en-el-carrito__div__titulo"><%= nombre %></h5>
      <p class="Productos-en-el-carrito__div__descripcion"><%= descripcion %></p>
      <h4 class="Productos-en-el-carrito__div__precio"><%= precio %></h4>
    </div>
    <div class="Productos-en-el-carrito__div__contador__eliminar">
      <img src="/images/fotosCarrito/contador.png" alt="">
      <i class="fa-solid fa-trash-can"></i>
    </div>
  </article>