<!-- <!DOCTYPE html>
<html lang="en">
    
    <%- include('../partials/head',{
    title : "Perfil" 
    }) %>
    <body>
        <form action="">
            
        </form>
        <%- include('../partials/footer') %>
    </body>
</html> -->