<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs' ,{ 
        title : "Register" 
         }) %>
         <link rel="icon" type="image/x-icon" href="/images/favicon-register.png">
<title>Cancat - Registro</title>

    <body> 
        
        <%- include('../partials/header.ejs') %>

        <main class="register_main"> 
            <nav>
                <h1>Registrarse</h1>
                <form class="register_form" action="/" method="get">
                    <input type="text" name="nombre" placeholder="Nombre y Apellido" required minlength="8" maxlength="30">
                    <input type="email" name="email" placeholder="Correo electronico" required minlength="5" maxlength="40">
                    <input type="password" name="password" placeholder="Contraseña" required minlength="8" maxlength="12">
                    <input type="password" name="password" placeholder="Confirmar contraseña" required minlength="8" maxlength="12">
                    <button type="submit">Crear cuenta</button>
                </form>
            </nav>
        </main>
    
        <%- include('../partials/footer.ejs') %>

    </body>

</html>
